@import "normalize.css";

body, html, #root {
  width: 100%;
  height: 100%;
}

body, div, span, a, img, h1, h2, h3, h4, h5 {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

* {
  position: relative;
}

body {
  background: url("../img/bg.jpg") bottom no-repeat;
  background-size: 100% 50%;
  color: #202020;
  font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

h3 {
  font-size: 24px;
  font-weight: 100;
}

p {
  font-size: 16px;
}

a {
  font-weight: 400;
}

/*a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}
*/

/*** Site ***/
.site {
  background: linear-gradient(to bottom, rgba(247,248,250,1) 0%,rgb(223,225,238) 50%, transparent 100%);
  height: 100%;
  flex-direction: row;
}
.site__main {
  flex: 7 0;
  flex-direction: row;
  height: 100%;
}

.site__left-sidebar {
  width: 170px;
  position: fixed;
  z-index: 1;
  flex: 0 auto;
}
.site__content {
  /**
   * If flex-basis: auto
   * when content has a lot of content
   * it would squeeze the left-sidebar
   * (WHY?)
   */
  margin-left: 170px;
  flex: 1 0;
}


.site__content .products {
  flex: 1 100%;
  align-self: stretch;
  flex-direction: row;
  flex-flow: wrap;
  height: 100%;
  overflow-y: scroll;
}
.site__content .product {
  flex: 1 50%;
  width: 50%;
  padding: 20px;
}

.product__display {
  padding: 20px;
  border: 5px solid #d8d8d8;
  background-color: #fff;
}

.product__img {
  width: 100%;
}

.product__add {
  width: 60px;
  height: 60px;
  align-self: center;
  background-color: #d8d8d8;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.product__add:hover {
  cursor: pointer;
}
.product__add__icon {
  width: 36px;
  height: 36px;
}

.product__price {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  font-family: AvenirNext-DemiBold;
}

.product__description {
  flex-direction: row;
  margin-top: 10px;
}

.product__name {
  flex: 1 0;
  padding-right: 1em;
  word-break: break-all;
}
.product__heart {
  flex: 0 auto;
  align-self: flex-start;
}


/***** Sidebar *****/
.site__right-sidebar {
  flex: 3 0;
  height: 100%;
  transition: flex .5s linear;
}

.checkout {
  flex: 0 auto;
  padding: 10px;
  background: linear-gradient(to bottom, rgba(196,204,218,0.7) 0%, #c4ccda 25%, transparent);
}

/**** Cart ****/

.cart {
  flex: 1 0;  
  overflow-y: scroll;
  padding-bottom: 20px;
  position: static;
  background: #c4ccda;
}
.cart__title {
  position: absolute;
  z-index: 999;
  top: 0;
  height: 50px;
  padding: 10px 20px;
  color: #202020;
  font-size: 24px;
  font-family: AvenirNext-UltraLight;
  background: linear-gradient(0deg, rgba(196,204,218,0.3), rgba(196,204,218,1));
  width: 100%;
}
.cart__content {
  margin-top: 50px;
}

/*** Cart Item ***/
.cart-item {
  margin-bottom: 5px;
}

.cart-item__top-part {
  flex: 1 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.cart-item__image {
  flex: 0 33%;
}
.cart-item__image img {
  border: 2px solid #d8d8d8;
  width: 100%;
}
.cart-item__top-part__middle {
  flex: 1 0;
  padding-left: 1em;
  font-size: 20px;
}
.cart-item__title {
}
.cart-item__price {
  font-size: 20px;
  font-family: AvenirNext-DemiBold, AvenirNext-Regular;
  color: #202020;
  margin-top: 0.1em;
}
.cart-item__trash {
  flex: 0 50px;
  width: 25px;
  height: 25px;
}
.cart-item__trash:hover {
  cursor: pointer;
}
.cart-item__qty {
  flex-direction: row;
  padding: 0 20px;
}

.adjust-qty {
  flex: 0 33%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.adjust-qty__button {
  flex: 0 auto;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #f7f8fa;
  /*color: #c4ccda;*/
  border-radius: 50%;
}
.adjust-qty__button.adjust-qty__button--gray {
  background-color: #d8d8d8;
}
.adjust-qty__number {
  flex: 1 0;
  text-align: center;
}


/**** Checkout ****/

.checkout__divider {
  margin: 30px auto;
  border-width: 0;
  width: 70%;
  border-bottom: 1px solid #777;
}

.checkout__coupon-input {
  margin: 0 10px;
  line-height: 2em;
}

.checkout__help-block {
  display: none;
}

/*** Checkout Summary ***/
.checkout__summary {
  padding: 10px;
}

.checkout__row {
  flex-direction: row;
}

.checkout__row-title {
  justify-content: flex-start;
  line-height: 2em;
}

.checkout__total {
  justify-content: flex-end;
  flex: 1 0;
  text-align: right;
  line-height: 2em;
}

.checkout__amount--strikeout {
  text-decoration: line-through;
}
.checkout__amount--saving {
  font-weight: bold;
  color: #b30303;
}

.checkout__confirm-wrapper {
  margin: auto 3em;
  color: #f7f8fa;
  background-color: #80a590;
  border-radius: 5px;
}

.checkout__confirm {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  padding: 0.6em 0.5em;
}

.checkout__cart-icon {
  flex: 0 25%;
}

.checkout__confirm-text {
  flex: 1 0;
  text-align: center;
  font-family: AvenirNext-DemiBold;
}

/*** Sidebar Toggle ***/
.site__right-sidebar-toggle {
  position: fixed;
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
  padding: 0.6em;
  background-color: rgb(30,36,56);
  display: none;
}
.site__right-sidebar-toggle:hover {
  cursor: pointer;
}

body.js-show-right-sidebar .site__right-sidebar-toggle {
  transform: rotate(0deg);
  left: 0;
  right: auto;
}

/**** Responsive Tweak ****/
@media (max-width: 1200px) {
  .checkout__confirm {
    font-size: 18px;
  }
}
@media (max-width: 950px) {
  .site__main {
    flex: 6 0;  
  }
  .site__right-sidebar {
    flex: 4 0;
  }
  .site__content .product {
    flex: 1 100%;
  }
  .product__add {
    width: 48px;
    height: 48px;
  }
  .product__add__icon {
    width: 30px;
    height: 30px;
  }
  .product__display {
    padding: 15px;
  }

  /*** Cart ***/
  .cart-item__top-part__middle {
    font-size: 16px;
  }
}
@media (max-width: 700px) {
  .product__price {
    font-size: 18px;
    top: 15px;
    right: 15px;
  }
}
@media (max-width: 600px) {
  .site__main {
    flex: 2 0;
  }
  .site__content {
    position: absolute;
    width: 100vw;
    margin-left: 0;
  }
  .site__right-sidebar {
    display: none;
    flex: 8 0;
  }
  body.js-show-right-sidebar .site__right-sidebar {
    display: flex;
  }

  .site__left-sidebar {
    display: none;
  }
  .product__price {
    font-size: 24px;
    top: 20px;
    right: 20px;
  }
  .product__add {
    width: 30px;
    height: 30px;
  }
  .product__add__icon {
    width: 20px;
    height: 20px;
  }

  .site__right-sidebar-toggle {
    display: flex;
  }
  body.js-show-right-sidebar .site__right-sidebar-toggle {
    width: 20%;
  }

  .checkout {
    background: #c4ccda;
  }
}
