@import "normalize.css";

body, html {
  width: 100%;
  height: 100%;
}

body, div, span, a, img, h1, h2, h3, h4, h5 {
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-shrink: 0;
  align-content: flex-start;

  border: 0 solid black;
  margin: 0;
  padding: 0;
}

* {
  position: relative;
}

body {
  background-color: #F7F8FA;
  /*background-color: #FFFFFF;*/
  color: #202020;
  font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 64px;
  font-weight: 100;
}

h2 {
  font-size: 48px;
  font-weight: 100;
}

h3 {
  font-size: 24px;
  font-weight: 100;
}

p {
  font-size: 16px;
}

a {
  font-weight: 400;
}

/*a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}
*/

/*** Site ***/
.site {
  height: 100%;
  flex-direction: row;
}
.site__main {
  flex: 7 0;
  flex-direction: row;
  height: 100%;
}
.site__left-sidebar {
  width: 170px;
  position: fixed;
  z-index: 1;
  flex: 0 auto;
}
.site__content {
  /**
   * If flex-basis: auto
   * when content has a lot of content
   * it would squeeze the left-sidebar
   * (WHY?)
   */
  margin-left: 170px;
  flex: 1 0;
  background-color: rgb(246,155,161);
}
.site__content .products {
  flex: 1 100%;
  align-self: stretch;
  flex-direction: row;
  flex-flow: wrap;
  height: 100%;
  overflow-y: scroll;
}
.site__content .product {
  flex: 1 50%;
  width: 50%;
  height: 250px;
  margin-bottom: 20px;
  background-color: rgb(161,253,161);
}

.site__right-sidebar {
  flex: 3 0;
  height: 100%;
}

.site__right-sidebar .cart {
  flex: 1 0;  
}

.site__right-sidebar .checkout {
  flex: 0 auto;
  height: 300px;
  background-color: rgba(0,0,255,0.3);
}

.cart {
  overflow-y: scroll;
}
.cart__title {
  position: absolute;
  top: 0;
  height: 30px;
}
.cart__content {
  margin-top: 30px;
}
.cart-item {
  height: 150px;
  margin-bottom: 20px;
  background-color: rgba(0,255,0,0.3);
}
